@model NewsSite.Models.Article
@{
    ViewBag.Title = "_ArticlesView";
}

@*draw an individual news article partial*@
@if (Model != null)
{
    <tr class="article" colspan="3">
        <td class="article">
            <table class="individualArticle">
                <tr class="individualArticle">
                    <th colspan="3">@Html.ActionLink(Model.title, 
                                                    "Index", 
                                                    "Article", 
                                                    new { urlToImg = Model.urlToImg, title = Model.title, description = Model.description }, 
                                                    null) 
                                    <div class="companyName">(@Model.name)</div>
                    </th>
                </tr>
                <tr class="individualArticle">
                    <td class="articleCell articleCellLeft">@Model.publishedDate</td>
                    <td class="articleCell">@Model.author</td>
                </tr>
            </table>
        </td>
    </tr>
}
