<!DOCTYPE html>
<html>
@model NewsSite.Models.IndexViewModel
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsDemo</title>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/site.css" />

    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
</head>
<body>
    @*Navigation bar that includes quicklinks and search bar*@
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #738290; border-color: #080808;">
        <div class="container">
            <div class="topnav" id="myTopnav">
                <a class="active" href="~/Home/Index?page=1&searchBar=">Home</a>
                <a href="~/Home/Popular?page=1&searchBar=">Hot</a>
                <a href="~/Home/UnitedStates?page=1&searchBar=">United States</a>
                <a href="javascript:void(0);" class="icon" onclick="responsiveNavbar()">&#9776;</a>
                <div class="search-container">
                    <form action="/Home/Index?page=1&searchBar=" method="post">
                        <input type="text" placeholder="Search.." name="searchBar" id="searchBar">
                        <input type="hidden" placeholder="1" name="page" id="page" value="1">
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @*Body contains our index pages*@
        @RenderBody()
        <hr />
        <footer>
            <div>
                <div class="floatright">Powered by NewsAPI.org - </div>
                <div class="floatleft">&copy; 2017 - NewsDemo</div>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/site.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery-1.10.2.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
