@model NewsSite.Models.Articles
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
</head>

<div id="articles" class="table">

    <div id="partial">
        @Html.Partial("_ArticlesView", Model)
    </div>

    <div class="center">
        <div class="pagination">
            <a href="#" onClick="clickMinusPagination()">&laquo;</a>
            <a href="#" class="activePagination" id="pagination1" onClick="clickPagination(this.id)">1</a>
            <a href="#" id="pagination2" onClick="clickPagination(this.id)">2</a>
            <a href="#" id="pagination3" onClick="clickPagination(this.id)">3</a>
            <a href="#" id="pagination4" onClick="clickPagination(this.id)">4</a>
            <a href="#" id="pagination5" onClick="clickPagination(this.id)">5</a>
            <a href="#" id="pagination6" onClick="clickPagination(this.id)">6</a>
            <a href="#" onClick="clickPlusPagination()">&raquo;</a>
        </div>
    </div>

    @Html.Hidden("page", Model.page)
    @Html.Hidden("search", Model.search)
</div>


