@model NewsSite.Models.IndexViewModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
</head>

<div id="articles" class="table">

    <table class="table table-bordered">
        @foreach (var article in Model.Items)
        {
            @Html.Partial("_ArticlesView", article)
        }
    </table>

    <!-- pager -->
    @if (Model.Pager.EndPage > 1)
    {
    <ul class="pagination">
        @if (Model.Pager.CurrentPage > 1)
        {
        <li>
            <a href="~/Home/Index?searchBar=@Model.SearchBar">First</a>
        </li>
        <li>
            <a href="~/Home/Index?page=@(Model.Pager.CurrentPage - 1)&searchBar=@Model.SearchBar">Previous</a>
        </li>
        }

        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
        {
        <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
            <a href="~/Home/Index?page=@page&searchBar=@Model.SearchBar">@page</a>
        </li>
        }

        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
        {
        <li>
            <a href="~/Home/Index?page=@(Model.Pager.CurrentPage + 1)&searchBar=@Model.SearchBar">Next</a>
        </li>
        <li>
            <a href="~/Home/Index?page=@(Model.Pager.TotalPages)&searchBar=@Model.SearchBar">Last</a>
        </li>
        }
    </ul>
    }
</div>


